.logo-icon {
  height: 35px;
}

.logo-text {
  font-weight: 800;
  font-size: 32px;
  margin-bottom: 0;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: 0.2s ease-in-out;
  user-select: none;
}
