.navbar ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 15px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
