.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.blog-text {
  margin-bottom: 2em;
}

.blog-posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
